* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Nunito Sans', sans-serif;
}

a {
    transition: linear .2s;
}

a:hover {
    text-decoration: none;
    transition: linear .2s;
}

.page-wraper {}

.left-sidebar {
    background: #051958;
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.logo a {}

.logo a img {
    width: 130px;
}

.side-nav-left {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-nav-left li {}

.side-nav-left li a {
    display: block;
    padding: 25px 0;
    padding-left: 30px;
    opacity: .6;
}

.side-nav-left li a img {
    width: 22px;
    margin-right: 20px;
    filter: contrast(0) brightness(100);
    transition: linear .2s;
}

.side-nav-left li a span {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    transition: linear .2s;
}

.side-nav-left li a:hover {
    opacity: 1;
}

.side-nav-left .active a {
    background-color: #fff;
    opacity: 1;
    position: relative;
}

.side-nav-left .active a img {
    filter: none;
    transition: linear .2s;
}

.side-nav-left .active a span {
    color: #00293B;
    transition: linear .2s;
}

.side-nav-left .active a::after {
    content: '';
    position: absolute;
    background: #051958;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 0 50px 0 0;
}

.side-nav-left .active a::before {
    content: '';
    position: absolute;
    background: #051958;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 0 0 50px;
}

.content-page {
    width: 100%;
    box-sizing: border-box;
    padding-left: 335px;
    padding-right: 15px;
}