* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Nunito Sans', sans-serif;
}

/* scrollbar css */
::-webkit-scrollbar {
    width: 0px;

}

::-webkit-scrollbar-track {
    background: #fafafa;
}

::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    cursor: pointer !important;

}

::-webkit-scrollbar-thumb:hover {
    background: #616161;

}

/* scrollbar css end */
p,
a,
i,
b,
h1,
h2,
h3,
h4,
h5,
h6,
em,
sub,
sub,
area,
form,
span,
small,
embed,
footer,
strong,
button,
article,
address {
    font-family: 'Nunito Sans', sans-serif;
}

button {
    outline: 0 !important;
}

a {
    transition: linear .2s;
}

a:hover {
    text-decoration: none;
    transition: linear .2s;
}

.btn-clear {
    border: none;
    background: transparent;
}

.page-wraper {}

.left-sidebar {
    background: #051958;
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: linear .5s;

}

.left-sidebar:hover {
    overflow-y: auto;
    transition: linear .5s;
}

.logo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

.logo a {}

.logo a img {
    width: 130px;
}

.side-nav-left {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-nav-left li {}

.side-nav-left li a {
    display: block;
    padding: 25px 0;
    padding-left: 30px;
    opacity: .6;
}

.side-nav-left li a img {
    width: 22px;
    margin-right: 20px;
    filter: contrast(0) brightness(100);
    transition: linear .2s;
}

.side-nav-left li a span {
    color: #fff;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 700;
    transition: linear .2s;
}

.side-nav-left li a:hover {
    opacity: 1;
}

.side-nav-left .active a {
    background-color: #fff;
    opacity: 1;
    position: relative;
}

.side-nav-left .active a img {
    filter: none;
    transition: linear .2s;
}

.side-nav-left .active a span {
    color: #00293B;
    transition: linear .2s;
}

.side-nav-left .active a::after {
    content: '';
    position: absolute;
    background: #051958;
    bottom: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 0 50px 0 0;
}

.side-nav-left .active a::before {
    content: '';
    position: absolute;
    background: #051958;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-radius: 0 0 50px;
}

.content-page {
    width: 100%;
    box-sizing: border-box;
    padding-left: 295px;
}

.page-title {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 600;
    padding-top: 40px;
}

.welcome-msg {
    background: #DAEFFE;
    border-radius: 20px;
    padding: 30px 40px;
    position: relative;
    margin-bottom: 30px;
}

.welcome-msg img {
    position: absolute;
    right: 60px;
    bottom: 10px;
    width: 170px;
}

.msg-text {
    padding-right: 220px;
}

.msg-text h2 {
    font-size: 32px;
    font-weight: 500;
}

.msg-text p {
    margin-bottom: 0;
}

.card-view {
    display: table;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 3px 15px #8080801a;
    padding: 20px 25px;
}

.card-view:hover {
    box-shadow: 0 0 25px #00000041;
}

.card-view img {
    width: 60px;
    margin-right: 20px;
    display: table-cell;
    max-width: none;
    box-sizing: initial;
    height: initial;
}

.card-view p {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.num-card {
    background: #F5F6FA;
    text-align: center;
    padding: 25px 10px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px #8080801a;
    border: 1px solid #dcdcdc24;
}

.num-card h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 7px;
}

.num-card p {
    margin: 0;
}

.weight-cart-view {
    position: relative;
}

.weight-cart-view .weight {
    font-size: 10px;
    font-style: italic;
    position: absolute;
    transform: rotate(270deg);
    width: 150px;
    display: flex;
    align-content: center;
    bottom: 100px;
    left: -75px;
}

.weight-cart-view .weight img {
    position: relative;
    top: 1.5px;
    left: 15px;
}

.weight-cart-view .date {
    font-size: 10px;
    font-style: italic;
    position: absolute;
    left: 40px;
    bottom: -30px;
}

.weight-cart-view canvas {
    height: 220px !important;
    padding-left: 10px;
}

.cart-view-title {
    overflow: hidden;
    margin-bottom: 30px;
}

.cart-view-title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    float: left;
}

.cart-view-title p {
    margin: 0;
    float: right;
    color: gray;
    font-size: 14px;
}

.cart-view-title p button {
    background: transparent;
    border: none;
    margin: 0 10px;
    font-size: 14px;
    line-height: 1;
}

.cart-view-title p button i {
    margin-left: 5px;
    color: gray;
}



/* profile-overview css */
.profile-overview {
    background: #F5F6FA;
    padding: 15px;
    border-radius: 20px 0 0 20px;
}

.profile-overview .nav {
    position: absolute;
    right: 20px;
    top: 20px;
}

.profile-overview .nav button {
    border: none;
    background: transparent;
    outline: none;
}

.profile-overview .nav button i {
    font-size: 20px;
}

.drop-down {
    padding: 0;
    box-shadow: 0 3px 15px #8080801a;
}

.drop-down ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drop-down ul li {
    border-bottom: 1px solid gainsboro;
}

.drop-down ul li a {
    padding: 7px 20px;
    display: block;
    color: #31394D;
}

.profile {
    margin-top: 50px;
    text-align: center;
}

.profile a {
    font-size: 20px;
    color: #3F1912;
}

.profile p {
    margin: 0;
    color: #5A15F2;
    font-size: 14px;
}

.profile ul {
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.profile ul li {
    width: 25%;
    padding: 2.5px;
}

.profile ul li p {
    color: #3F1912;
    font-size: 12px;
    margin-bottom: 5px;
}

.profile ul li button {
    border: none;
    background: #5A15F2;
    color: #fff;
    border-radius: 6px;
    padding: 5px 5px;
    font-size: 14px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

.profile ul li button:focus {
    box-shadow: 0 0 0 3px #5b15f271;
}

.profile ul li button:hover i {
    opacity: 1;
    transition: linear .2s;
}

.profile ul li button i {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    background: #fff;
    color: #5A15F2;
    padding: 3px 6px;
    border-radius: 7px 0 5px 0;
    opacity: 0;
    transition: linear .2s;
}

.profile-pic {
    background-image: url(../images/Group\ 182.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 130px;
    width: 130px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}

.stats {
    background: #fff;
    padding: 15px 15px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.line-chart {}

.line-chart table {
    width: 100%;
}

.line-chart table thead {}

.line-chart table thead tr {}

.line-chart table thead tr th {
    text-align: center;
    font-size: 12px;
    color: #00293B;
    padding-bottom: 20px;
    width: 14%;
}

.line-chart table tbody {}

.line-chart table tbody tr {}

.line-chart table tbody tr td {
    text-align: center;
}

.layer1 {
    width: 10px;
    margin: auto;
    border-radius: 5px;
    height: 220px;
    background: #E1E2EB;
    position: relative;
}

.layer2 {
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background: #E8523F;
    position: absolute;
    bottom: 0;
}

.layer3 {
    height: 120px;
    width: 100%;
    border-radius: 5px;
    background: #F8B849;
    position: absolute;
    bottom: 0;
}

.layer4 {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background: #F8C0D9;
    position: absolute;
    bottom: 0;
}

.line-chart-info {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: 10px;
}

.line-chart-info li {
    display: inline-block;
    font-size: 8px;
    font-weight: 400;
}

.line-chart-info li i {
    margin-right: 5px;
    font-size: 7px;
}

.stats-btn {}

.stats-btn a {
    display: block;
    margin-bottom: 10px;
    background: #DAEFFE;
    padding: 12px 20px;
    border-radius: 10px;
    position: relative;
    color: #31394D;
}

.stats-btn a:focus {
    box-shadow: 0 0 0 3px #4E73DF;
}

.stats-btn a i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.stats-btn a img {
    width: 20px;
    margin-right: 10px;
}

.stats-btn a span {
    font-size: 16px;
    font-weight: 700;
}